<ion-tabs class="tabs-striped tabs-top tabs-background-calm tabs-color-stable">

  <!-- Dashboard Tab -->
  <ion-tab title="Reddit" icon-off="ion-social-reddit-outline" icon-on="ion-social-reddit" href="#/tab/Reddit">
    <ion-nav-view name="tab-reddit"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Weather" icon-off="ion-ios-sunny-outline" icon-on="ion-ios-sunny" href="#/tab/Weather">
    <ion-nav-view name="tab-weather"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Traffic" icon-off="ion-model-s" icon-on="ion-model-s" href="#/tab/traffic">
    <ion-nav-view name="tab-traffic"></ion-nav-view>
  </ion-tab>


</ion-tabs>