<ion-tabs class="tabs-striped tabs-top tabs-background-stable tabs-color-dark">

<!-- Alarm Tab -->
<!--   </ion-tab>  <ion-tab title="Alarm" icon-off="ion-ios-alarm" icon-on="ion-ios-alarm-outline" href="#/tab/Alarm">
    <ion-nav-view name="tab-alarm"></ion-nav-view>
  </ion-tab> -->


  <!-- Dashboard Tab -->
  <ion-tab title="Reddit" icon-off="ion-social-reddit" icon-on="ion-social-reddit-outline" href="#/tab/Reddit">
    <ion-nav-view name="tab-reddit"></ion-nav-view>

    

  <!-- Chats Tab -->
  <ion-tab title="Weather" icon-off="ion-ios-sunny" icon-on="ion-ios-sunny-outline" href="#/tab/Weather">
    <ion-nav-view name="tab-weather"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Traffic" icon-off="ion-model-s" icon-on="ion-model-s" href="#/tab/traffic">
    <ion-nav-view name="tab-traffic"></ion-nav-view>
  </ion-tab>


</ion-tabs>